@import url(fonts.css);
@import url(palette.css);

body{
    background-color: var(--tradewind);
}

.navbar{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    background-color: var(--burning-orange);

    justify-content: center;
    color: var(--astral);
}

.nav-item{
    padding: 1% 2%;
}
